div.logo img{
    width: 10em;
}
div.color-header{
    background: #f2f2f2;
}
.btn-primary-2{
    background: #2e72c3;
    color: #fff;
}

.site-mobile-menu-header{
    display: none;
}

.site-blocks-cover h1{
    color: #2e72c3;
}

.site-blocks-cover .sub-title {
    color: #2e72c3;
}

.header-fixo{
    position: fixed;
    width: 100%;
}

.item{
    height: 180px;
    border: 2px solid #f2f2f2;
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.2);
}
h3.text-dark{
    margin-top: 20px;
}
.site-section {
    padding: 3em 0;
}
button.cart [type="submit"] {
    position: absolute;
    bottom: 10px;
    right: 29%;
}

.topbar{
    border-bottom: 1px solid #dddddd;
    background: #f2f2f2;
}

.site-footer {
    background: #2c4167;
    color: #fff;
}

.copy{
    background: #222d3f;
    color: #fff;
}

.copy a{
    color: #fff;
}

ul.list-unstyled li a{color: #fff}
ul.list-unstyled li {color: #fff}
