div.logo img{
    width: 10em;
}
div.color-header{
    background: #f2f2f2;
}
.btn-primary-2{
    background: #2e72c3;
    color: #fff;
}

.site-mobile-menu-header{
    display: none;
}

.site-blocks-cover h1{
    color: #2e72c3;
}

.site-blocks-cover .sub-title {
    color: #2e72c3;
}

.header-fixo{
    position: fixed;
    width: 100%;
}

.item{
    height: 180px;
    border: 2px solid #f2f2f2;
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.2);
}
h3.text-dark{
    margin-top: 20px;
}
.site-section {
    padding: 3em 0;
}
button.cart [type="submit"] {
    position: absolute;
    bottom: 10px;
    right: 29%;
}

.topbar{
    border-bottom: 1px solid #dddddd;
    background: #f2f2f2;
}

.site-footer {
    background: #2c4167;
    color: #fff;
}

.copy{
    background: #222d3f;
    color: #fff;
}

.copy a{
    color: #fff;
}

ul.list-unstyled li a{color: #fff}
ul.list-unstyled li {color: #fff}

.container-form{
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 40px;
}

h1.title-form{
    font-size: 35px;
    font-weight: bold;
    line-height: 2;
    color: rgb(42, 57, 99) !important;
    text-align: center;
    margin-bottom: 50px;
    border-bottom: 1px solid rgb(42, 57, 99);
}
.container-form h2{
    font-size: 18px;
    font-weight: bold;
    line-height: 1.6;
    color: rgb(28, 38, 67) !important;
}
.container-form h5{
    font-size: 18px;
    font-weight: bold;
    line-height: 1.6;
    color: rgb(28, 38, 67) !important;
    border-bottom: 1px solid #000000;
    width: 100%;
}
.container-form p {
    font-size: 10pt;
}
.container-form button{
    margin-left: 18px;
}
.form-checkbox-item{
font-size: 14px;
}

.table td{
    margin: 0px;
    padding: 0px;
}
